/* The next recruitment */

header{
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 780px;
    background-repeat: no-repeat;
}
/*--Header --*/
header .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header .top-header .nav .nav-item .nav-link{
  color: #000;
}
header .header-section .ptoho{
  border-radius: 250px;
  width: 400px;

}
header .header-section #header_btn_1,#header_btn_2{
  background-color: #000;
  color: #fff;
}
header .header-section .title{
    font-weight: bold;
    font-size: 50px;
}
header .header-section .desc{
    font-weight: bold;
    font-size: 24px;
    width: 350px;
}
header .header-section .description{
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #fff;
    width: 400px;
    background-color: #fff;
}
body{
    padding-left: 40px;
    position: relative;
}
body .body-nav-bar{
    position: absolute;
    top: 0;
    left: -10px;
    width: 50px;
}
@media only screen and (max-width: 400px) {
  body{
      color: red;
  }

}
.main .latest-job{
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #979797;
}
.main .latest-job .job-desc .latest-job-btn{
  border-radius: 25px;
  color:  lightgrey;
  padding: 5px 5px;
}
.main .latest-job .job-desc p{
  margin: 0 ;
}
.main .latest-job .job-desc .latest-job-desc{
  border-radius: 25px;
  color:  lightgrey;
  padding: 5px 5px;
}

.main .find-more {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #979797;
}

.main .find-more .title{
  font-weight: bold;
  font-size: 30px;
}

.main .find-more .motivo-image{
  padding-left: 100px;
  width: 200px;
}


.main .why-to-choose{
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #979797;
}

.main .thalesblog .title .latest-tech{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.main .thalesblog .title .latest-tech p{
  margin: 0;
}

.main .thalesblog{
  border-top: 1px solid #a7a3a3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .thalesblog img{
  width: 100%;
}
.main .tokyotech{
  border-top: 1px solid #a7a3a3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .tokyotech img{
  width: 100%;
}
.main .head-quarters{
  border-top: 1px solid #a7a3a3;
  padding-top: 50px;
  padding-bottom: 50px;
}


.main .latest-job{
  margin: 30px 0;
}
.main .latest-job .job-desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-nav-bar .navbar-indicator{
  background-color: #ddd;
  padding: 127px 0;
  text-align: center;
}
.body-nav-bar .navbar-indicator .fa-bars{
  font-size: 26px;
  padding-left: 10px;
}
.body-nav-bar.wide-bar{
  width: 400px;
  background: #fad;
  transition: 0.3s;
}
.body-nav-bar .social{
  padding: 70px 0;
}
.body-nav-bar .social ul{
  list-style: none;
  padding: 0;
}
.body-nav-bar .social ul li{
  text-align: center;
  padding: 10px 0;
}
.body-nav-bar .social ul li i{
  font-size: 30px;
  color: #252222;
  padding-left: 10px;
}
.header .header-section .res-photo{
  display: none;
}

.thalesblog .social-link img{
  height: 378px;
  width: 100%;
}

.tokyotech .social-link img{
  height: 378px;
  width: 100%;
}

.social-link ul{
  list-style: none;
  padding: 0;
}
.social-link ul li{
  float: left;
  padding: 4px 20px;
}

.message{
    width: 100%;
    height: 48px;
    background-color: black;
}
.latest-job-type ul{
  list-style: none;
  padding: 0;
}
.latest-job-type ul li{
  float: left;
    padding: 4px;
    background: #5151e2;
    border-radius: 31px;
    width: 65px;
    text-align: center;
    color: #fff;
}
.latest-job-type ul li a{
  color: #fff;
}
.reponsive-link{
  display: none;
}
 @media only screen and (max-device-width: 480px) {
  body{
    padding: 0;
  } 
  .header .header-section{
    display: none;
  }
  .header .header-section .ptoho{
    display: none;
  }
  .header .res-photo{
    display: block;
  }
  header{
    background-image: url(../images/bg.jpg);
    height: 1000px;
    position: relative;
  }
  header .top-header{
    display: none;
  }
  .body-nav-bar .navbar-indicator{
    position: absolute;
    left: 74px;
    top: 100px;
    padding: 10px;
  }
  .body-nav-bar .social{
    display: none;
  }
  .reponsive-link{
    display: block;
    position: absolute;
    top: 800px;
    left: 100px;
  }
  .reponsive-link ul{
    list-style: none;
    padding: 0;
  }
  .reponsive-link ul li{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 4px 10px;
  }
  .reponsive-link ul li.last-list{
    padding-left: 40px;
  }
  .reponsive-link ul li a{
    color: #fff;
  }
  .article-box{
    text-align: center;
    /* display: flex; */
    padding: 43px;
    border: 1px solid #ddd;
    margin-bottom: 30px
  }
  .article-box ul{
    text-align: center;
    margin: auto;
  }
}